<div class="container">
	<div class="row" id="answer-<%= answer.id %>">
		<div class="col-xs-2 col-sm-1 text-center answer-response">
			<%= render partial: 'votes/answer_vote', locals: {answer: answer} %>
		</div>
		<div class="col-xs-10 col-sm-11">
			<p><%= simple_format(answer.body, {}, sanitize: true ) %></p>
			<br>
			<br>

			<div class="row" id="answer-metadata-<%=answer.id%>">
				<div class="col-sm-4 small">
					Share this Answer
				</div>
			
				<div class="col-sm-4 small">
					<p>Updated on: <%= answer.updated_at.strftime("%b %-m '%y") %> at <%= answer.updated_at.localtime.strftime("%H:%M") %></p>
				</div>
			
				<div class="col-sm-4 well">
					<div class="row">
						<div class="col-xs-4">
							<a href="/users/<%= answer.user_id %>">
								<img src="<%= answer.user.profile_img_url %>" alt="<%= answer.user.username %>" width="60">
							</a>
						</div> <!-- end author box img div -->
						<div class="col-xs-8">
							<small>Date answered <br>
							<%= answer.created_at.strftime("%b %-m '%y") %> at <%= answer.created_at.localtime.strftime("%H:%M") %></small>
							<br><small>by <a href="/users/<%=answer.user_id%>"><%= answer.user.username %></a></small>
							<% if answer.authored_by?(current_user) %>
								<br><small><a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Answer</a></small>
							<% end %>	
						</div> <!-- end author box text div -->
					</div> <!-- end author box component --> 
				</div> <!-- end author well -->
			</div> <!-- end answer metadata -->
		</div> <!-- end answer body col -->
	</div> <!-- end answer row -->
	<br>


	<div class="row">
		<div class="col-sm-offset-1 col-sm-11">
			<% if current_user %>
				<%= render partial: 'comments/answer_comment_form', locals: { answer: answer } %>
			<% else %>
				<%= link_to "Sign in to comment or vote on this answer", new_user_session_path  %>
			<% end %>
		</div>
	</div>

	<div id="question-comments" class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-11">
				<% answer.comments.each do |comment| %>		
					<div class="answer-comment-response">
					<%= render partial: 'answer_comment', locals: { comment: comment, question: answer.question } %>
					</div>
				<% end %>
			</div>
		</div>
	</div>


</div>
<hr>     