<div class="row">
	<div class="col-xs-2">
	<% if current_user %>
		<% if current_user.has_upVoted?(comment)%>
		  
			<a href="/questions/<%= comment.commentable_id %>/votes/<%= current_user.vote_cast_id(comment) %>/destroy">
				<i class="fa comment-vote upvoted fa-22px fa-caret-up" aria-hidden="true"></i>
			</a>
			<a href="/questions/<%= comment.commentable_id %>/votes/<%= current_user.vote_cast_id(comment) %>/update">
				<i class="fa comment-vote novote fa-22px fa-caret-down" aria-hidden="true"></i>
			</a>
			<%= comment.points %>

		<% elsif current_user.has_downVoted?(comment) %>

		  <a href="/questions/<%= comment.commentable_id %>/votes/<%= current_user.vote_cast_id(comment) %>/update">
		  	<i class="fa comment-vote novote fa-22px fa-caret-up" aria-hidden="true"></i>
		  </a>
		  <a href="/questions/<%= comment.commentable_id %>/votes/<%= current_user.vote_cast_id(comment) %>/destroy">
		  	<i class="fa comment-vote downvoted fa-22px fa-caret-down" aria-hidden="true"></i>
		  </a>  
		  <%= comment.points %>  

		<% else %>

		 <a href="/questions/<%= comment.commentable_id %>/Comment/<%= comment.id %>/up/create">
		 	<i class="fa comment-vote novote fa-22px fa-caret-up" aria-hidden="true"></i>
		 </a>   
		 <a href="/questions/<%= comment.commentable_id %>/Comment/<%= comment.id %>/down/create">
		 	<i class="fa comment-vote novote fa-22px fa-caret-down" aria-hidden="true"></i>
		 </a>  
		 <%= comment.points %>  
		<% end %>
<% else %>
		 <%= comment.points %>  
<% end %>
	</div>

	<div class="col-xs-10">

		<%= comment.body %> - <a href="/users/<%= comment.user_id %>"><%= comment.user.email %></a> <%= comment.created_at.strftime("%b %-m") %> at <%= comment.created_at.localtime.strftime("%H:%M") %>
	</div>
</div>
<hr>