<% questiontags.each do |questiontag| %>
  <a href="/questions/<%= question.id %>/question_tags/<%= questiontag.id %>"
  	 class="btn btn-danger tag_to_delete"
  	 id="<%= questiontag.id %>"
  	 method="delete"
  	 data-confirm="Are you sure? This action cannot be undone.">
  	 	<%= questiontag.tag.name %>
  </a>
<% end %>