<div class="well devise-well">
  <%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table class="devise-table">
      <tr>
        <td>
          <%= f.label "Title" %>
        </td>
        <td>
          <%= f.text_field :title, required: true %>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "Question" %>
        </td>
        <td>
          <%= f.text_area :body, rows:"12", cols:"38", required: true %>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "Tags" %>
        </td>
        <td>
          <%= text_field_tag "question[tags]" %><br>
          (seperated by commas)
        </td>
      </tr>
    </table>
    <br>

    <div class="actions text-center">
      <%= f.submit "Submit Quesiton", class: "fa-22px btn btn-default" %>
    </div>
  <% end %>
</div>