<% @most_voted_questions.each do |question| %>
    <div class="row">
      <div class="col-sm-1 text-center hidden-sm hidden-xs">
        <br>
        <strong><%= question.points %></strong>
        votes
      </div> <!-- end col-sm-1 -->
      <div class="col-sm-1 text-center hidden-sm hidden-xs">
        <br>
        <strong><%= question.answers.count %></strong>
        answers
      </div> <!-- end col-sm-1 -->
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h4><a href="/questions/<%= question.id %>"><%= question.title %></a></h4>
          </div><!-- end col-sm-12 -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-sm-12">
            <% question.tags.limit(5).each do |tag| %>
              <a href="/tags/<%= tag.id %>" class="btn btn-sm btn-primary" >
                <%= tag.name %>
              </a> 
            <% end %>
            <span class="pull-right small" >asked <%= time_ago_in_words(question.created_at) %> ago by <a href="/users/<%=question.user_id %>"><%= question.user.username %></a></span>
          </div><!-- end col-sm-12 -->
        </div> <!-- end row -->
      </div> <!-- end-col-sm-10 -->
    </div> <!-- end row -->
  <hr>
<% end %>