<h1 class="text-center">Edit Question</h1>

<%= render 'form' %>
<br>
<div class="panel panel-danger devise-panel">
  <div class="panel-heading text-center">Click tag below to remove it</div>
  <div class="panel-body" id="questiontags">
   
   <%= render partial: 'edit_question_tags',
							layout: false,
							locals: {questiontags: @questiontags,
							question: @question } %>

  </div>
</div>
