<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <%= image_tag("so-logo.png", width:"180")%>
      <div class="pull-right">
        <ul class="inline">
          <a href="/questions/new"><li class="btn btn-primary">Ask Question</li></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 hidden-xs">
      <img src="http://placehold.it/1060x250" width="100%">
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <img src="http://placehold.it/480x270" width="100%">
    </div>
  </div>


  <div class="row" id="theQuestions">
    <div class="col-sm-9">
      <div class="tabbable">
          <br>
          <ul class="nav nav-tabs nav-right">
            <li><a href="#tab2" data-toggle="tab">Top 25 Questions</a></li>  
            <li class="active"><a href="#tab1" data-toggle="tab">Most Recent</a></li>
          </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <%= render partial: 'most_recent_tab' %>
          </div> <!-- End tab-pane tab1 -->
          <div class="tab-pane" id="tab2">
            <%= render partial: 'most_voted_tab' %> 
          </div> <!-- end tab-pane tab2 -->  
        </div> <!-- end tab-content -->
      </div> <!-- end tabbble -->
    </div> <!-- end col-sm-9 -->  
    <div class="col-sm-3 hidden-xs">
      <h3><%= @questions.count %></h3>
      Questions Asked
      <br>
      <br>
      <img src="http://placehold.it/200x200" width="100%">
      <br>
      <h3>Most Popular Tags</h3>
      
      <% @tags.each do |tag| %>
          <p><a href="/tags/<%= tag.id %>" class="btn btn-sm btn-primary" ><%= tag.name %> <span class="badge"><%= tag.questions.count %></span></a></p>
      <% end %>
      <br>
      <br>
      <img src="http://placehold.it/200x200" width="100%">
      <br>
    </div> <!-- end-col-sm-3 -->
  </div> <!-- end row -->
</div> <!-- end container -->