<div class="row">
  <div class="col-sm-12">
  <img width="180px" src="/assets/so-logo.png">
    <div class="pull-right">
      <ul class="inline">
        <a href="/questions/new"><li class="btn btn-primary">Ask Question</li></a>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 hidden-xs">
    <img src="http://placehold.it/1060x250" width="100%">
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <img src="http://placehold.it/400x300" width="100%">
  </div>
</div>

<h1><%= @question.title %></h1>
<div class="container">
	<div class="row">
		<div class="col-xs-2 col-sm-1 text-center question-response">
		<%= render partial: 'votes/question_vote', locals: {question: @question} %>
		</div>
		<div class="col-xs-10 col-sm-11">
			<p><%= simple_format(@question.body, {}, sanitize: true ) %></p>
		<br>
		<% if @question.tags %>
			<h3>Tagged:</h3>
			<% @question.tags.each do |tag| %>
	      <a href="/tags/<%= tag.id %>" class="btn btn-sm btn-primary" >
	        <%= tag.name %>
	      </a> 
	    <% end %>
		<br>
		<br>
    <% end %>
			<div class="row" id="question-metadata">
				<div class="col-sm-4 small">
					Share this Question
				</div>
				<div class="col-sm-4 small">
					<p>Updated on: <%= @question.updated_at.strftime("%b %-m '%y") %> at <%= @question.updated_at.localtime.strftime("%H:%M") %></p>
				</div>
				<div class="col-sm-4 well">
					<div class="row">
						<div class="col-xs-4">
							<a href="/users/<%= @question.user_id %>">
								<img src="<%= @question.user.profile_img_url %>" alt="<%= @question.user.username %>" width="60">
							</a>
						</div><!-- end question author image column -->
						<div class="col-xs-8">
							<small>Date asked <br>
							<%= @question.created_at.strftime("%b %-m '%y") %> at <%= @question.created_at.localtime.strftime("%H:%M") %></small>
							<br><small>by <a href="/users/<%=@question.user_id%>"><%= @question.user.username %> </a></small>
							<% if @question.authored_by?(current_user) %>
								<br><small><a href="/questions/<%= @question.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Question</a></small>
							<% end %>							
						</div> <!-- end question author text column -->
					</div> <!-- end question author component -->
				</div> <!-- end question author well -->
			</div> <!-- end question-metadata --> 
			
		</div> <!-- end question body column -->
	</div> <!-- end question row -->
<br>

	<div class="row">
		<div class="col-xs-offset-1 col-xs-11">
			<% if current_user  %>
				<%= render partial: 'comments/question_comment_form', locals: { question: @question } %>
			<% else %>
				<%= link_to "Sign in to comment or vote on this question", new_user_session_path  %>
			<% end %>
		</div>
	</div>

	<div id="question-comments" class="container">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-11">
				<% @question.comments.each do |comment| %>		
					<div class="question-comment-response">
					<%= render partial: 'comment', locals: { comment: comment } %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<hr>

<!-- Answers populated below -->
<div id="answers">
	<% if @question.answers.count == 1 %>
		<h3>1 Answer:</h3>
		<% @question.answers.each do |answer| %>
			<%= render partial: 'answer', locals: { answer: answer } %>
		<% end %>
	<% elsif @question.answers.count > 1 %>
		<h3><%=@question.answers.count%> Answers:</h3>
		<% @question.answers.each do |answer| %>
			<%= render partial: 'answer', locals: { answer: answer } %>
		<% end %>
	<% else %>
		<h3>There are no answers to this question yet.</h3>
	<% end %>
</div>
	
<% if current_user %>
	<a href="/questions/<%=@question.id%>/answers/new">Answer this question!</a>
<% else %>
	<%= link_to "Sign in to answer this question", new_user_session_path  %>
<% end %>


