<h2>Resend confirmation instructions</h2>

<div class="well">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <div class="btn-group-vertical" role="group" aria-label="...">    
        <%= f.submit "Resend confirmation instructions", class: "fa-22px btn btn-default" %>
  			<%= render "devise/shared/links" %>
  		</div>
    </div>
  <% end %>
</div>
