<h2 class="text-center">Edit My Profile</h2>
<div class="well devise-well">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
<table class="devise-table">
  <tr>
    <td>
      Username:
    </td>
    <td class="field">
      <%= f.text_field :username, placeholder: "Username", required: true %>
    </td>
  </tr>

  <tr>
    <td>
      Email:
    </td>
    <td class="field">
      <%= f.email_field :email, placeholder: "Email",
                                autofocus: true,
                                required: true %>
    </td>
  </tr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <tr>
      <td>
      </td>
      <td>Currently waiting confirmation for: <%= resource.unconfirmed_email %></td>
    </tr>
  <% end %>
  <tr>
    <td>
      <br>
    </td>
  </tr>
  <tr>
    <td>
      Change Password:
    </td>
    <td class="field">
      <%= f.password_field :password, autocomplete: "off" %>
      <br><i>(Leave Password blank if you don't want to change it)</i>
    </td>
  </tr>

  <tr>
    <td>
      Reenter Password:
    </td>
    <td class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <% if @minimum_password_length %>
        
        <br><em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <br>
    </td>
  </tr>

  <tr>
    <td>
      Work Title:
    </td>
    <td class="field">
      <%= f.text_field :work_title %>
    </td>
  </tr>

  <tr>
    <td>
      Location:
    </td>
    <td class="field">
      <%= f.text_field :location, placeholder: "(City, State)" %>
    </td>
  </tr>

  <tr>
    <td>
      Website
    </td>
    <td class="field">
      <%= f.text_field :website %>
    </td>
  </tr>
  <tr>
    <td>
      About You:
    </td>
    <td class="field">
      <%= f.text_area :about, rows:"5", cols:"30" %>
    </td>
  </tr>
  <tr>
    <td>
      Profile Image URL:
    </td>
    <td class="field">
      <%= f.text_field :profile_img_url, id:"img_field" %>
      <a id="clear_img" href="#">Clear?</a>
    </td>
  </tr>
</table>
    <div class="actions text-center">
      <div class="btn-group-vertical" role="group" aria-label="...">    
        <%= f.submit "Update Profile", class: "fa-22px btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="panel panel-danger devise-panel">
  <div class="panel-heading text-center">Are you unhappy with SmackOverflow?</div>
  <div class="panel-body text-center"><%= button_to "Cancel my account", registration_path(resource_name), class: "fa-22px btn btn-default", data: { confirm: "Are you sure? This action cannot be undone." }, method: :delete %>
  </div>
</div>

