<h2 class="text-center">Sign up</h2>
<div class="well devise-well">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="bg-danger"><%= devise_error_messages! %></div>
    <table class="devise-table text-center">
      <tr>
        <td class="field">
          <%= f.email_field :email, placeholder: "Email",
                                    autofocus: true,
                                    required: true %>
        </td>
      </tr>
      
      <tr>
        <td class="field">
          <%= f.text_field :username, placeholder: "Username", required: true %>
        </td>
      </tr>

      <tr>
        <td>
          <br>
        </td>
      </tr>
      
      <tr>
        <td class="field">
          <%= f.password_field :password, placeholder: "Password", 
                                          autocomplete: "off",
                                          required: true %>
          <% if @minimum_password_length %>
          <br><em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </td>
      </tr>

      <tr>
        <td class="field">
          <%= f.password_field :password_confirmation,
                                placeholder: "Reenter Password",
                                autocomplete: "off",
                                required: true %>
        </td>
      </tr>

    </table>
    <br>
    <br>
    <div class="actions text-center">
      <div class="btn-group-vertical" role="group" aria-label="...">    
        <%= f.submit "Sign Up", class: "fa-22px btn btn-default" %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>

