<%= form_for [answer, @comment] do |f| %>
   <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :commentable_id, :value => answer.id %>

    <%= f.label "Comment" %><br>
    <%= f.text_area :body, cols:"40", rows:"2" %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>