
	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
	    <a href="/users/auth/github" class="btn btn-default">
	  		<span class="fa fa-22px fa-github"></span>  <span class="fa-22px">Sign in with GitHub</span>
			</a>
	  <% end -%>
	<% end -%>

	<%- if controller_name != 'sessions' %>
	  <a href="/users/sign_in" class="btn btn-default">
	  	<i class="fa fa-22px fa-key" aria-hidden="true"></i>  <span class="fa-22px">Sign In</span>
		</a>
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <a href="/users/sign_up" class="btn btn-default">
	  	<i class="fa fa-22px fa-key" aria-hidden="true"></i>  <span class="fa-22px">Sign Up</span>
		</a>
	<% end -%>

	<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	  <a href="/users/password/new" class="btn btn-default">
	  	<i class="fa fa-22px fa-question-circle" aria-hidden="true"></i>  <span class="fa-22px">Forgotten Password</span>
		</a>
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
	<% end -%>
