<h2>Resend unlock instructions</h2>
<div class="well">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <div class="btn-group-vertical" role="group" aria-label="...">    
        <%= f.submit "Resend Unlock Instructions", class: "fa-22px btn btn-default" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>