  <% all.each do |item| %>
    <% if item.is_a?(Answer) %>
          <tr>
        <td class="not-last"><i class="fa fa-22px fa-lightbulb-o" aria-hidden="true"></i></td>
        <td class="not-last"><span class="badge"><%= item.points %></span></td>
        <td class="last"><a href="/questions/<%= item.question_id %>#answer-<%= item.id %>"><%= item.body[0..60] %>...</a>
        <span class="pull-right"><%= item.created_at.strftime("%b %-m '%y") %></span></td>
    </tr>    
    <% else %>
      <tr>
        <td class="not-last"><i class="fa fa-22px fa-question-circle" aria-hidden="true"></i></td>
        <td class="not-last"><span class="badge"><%= item.points %></span></td>
        <td class="last"><a href="/questions/<%= item.id %>"><%= item.title.strip %></a>
        <span class="pull-right"><%= item.created_at.strftime("%b %-m '%y") %></span></td>
      </tr>
    <% end %>
  <% end %>
