<% if answers %>
  <% answers.each do |answer| %>
    <tr>
      <td class="not-last"><i class="fa fa-22px fa-lightbulb-o" aria-hidden="true"></i></td>
      <td class="not-last"><span class="badge"><%= answer.points %></span></td>
      <td class="last"><a href="/questions/<%= answer.question_id %>#answer-<%= answer.id %>"><%= answer.body[0..60].strip%>...</a>
      <span class="pull-right"><%= answer.created_at.strftime("%b %-m '%y") %></span></td>
    </tr>
  <% end %>
<% end %>