<% if questions %>
  <% questions.each do |question| %>
      <tr>
        <td class="not-last"><i class="fa fa-22px fa-question-circle" aria-hidden="true"></i></td>
        <td class="not-last"><span class="badge"><%= question.points %></span></td>
        <td class="last"><a href="/questions/<%= question.id %>"><%= question.title %></a>
        <span class="pull-right"><%= question.created_at.strftime("%b %-m '%y") %></span></td>
      </tr>
  <% end %>
<% end %>
