<div class="container">
	<div class="row">
		<div class="col-sm-3 well">
				<img width="100%" src="<%= @user.profile_img_url %>">
				<h3><%= @user.reputation %> <small>REPUTATION</small></h3> 
	      <% if current_user == @user %>
	        <a href="/users/edit"><i class="fa fa-22px fa-pencil" aria-hidden="true"></i> Edit Profile</a>
	      <% end %>
		</div>
		<div class="col-sm-5">
			<h3><%= @user.username %></h3>
			<h5><%= @user.work_title %></h5>
			<hr>
			<p><%= simple_format(@user.about, {}, { sanitize: true }) %></p>
		</div>
		<div class="col-sm-4">
			<div class="row text-center">
				<div class="col-xs-4">
					<h3><%= @user.answers.count %></h3>	
					answers
				</div>
				<div class="col-xs-4">
					<h3><%= @user.questions.count %></h3>	
					questions
				</div>
				<div class="col-xs-4">
					<h3><%= @user.comments.count %></h3>	
					comments
				</div>
			</div>
			<br>
			<table class="user-show-sidebar">
				<tr>
					<td><i class="fa fa-22px fa-map-marker" aria-hidden="true"></i></td>
					<td><%= @user.location %></td>
				</tr>
				<tr>
					<td><i class="fa fa-22px fa-link" aria-hidden="true"></i></td>
					<td><a target="_blank" href="//<%= @user.website %>"><%= @user.website %></a></td>
				</tr>
	      <tr>
	        <td><i class="fa fa-22px fa-envelope" aria-hidden="true"></i></td>
	        <td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
	      </tr>
				<tr>
					<td><i class="fa fa-22px fa-undo" aria-hidden="true"></i></td>
					<td> Member for <%= time_ago_in_words(@user.created_at) %></td>
				</tr>
				<tr>
					<td><i class="fa fa-22px fa-clock-o" aria-hidden="true"></i></td>
					<td>Last seen <%= time_ago_in_words(@user.last_sign_in_at) %> ago</td>
				</tr>
			</table>		
		</div>	
	</div> <!-- end row -->
	<br>
	<div class="row" id="theQuestions">
	  <div class="col-sm-9 col-sm-offset-3">
	    <div class="tabbable">
	        <ul class="nav nav-tabs nav-right">
	        	<li><a href="#tab3" data-toggle="tab">Last 20 Answers</a></li>
	          <li><a href="#tab2" data-toggle="tab">Last 20 Questions</a></li>  
	          <li class="active"><a href="#tab1" data-toggle="tab">All Activity</a></li>
	        </ul>
	      <div class="tab-content">
	        <div class="tab-pane  active" id="tab1">
	      		<table class="user_tabs">
	      			<%= render partial: 'all_user_activity', locals: {all: @all} %>
	      		</table>
	          <div class="text-center" >
	            <%= will_paginate @all, renderer: BootstrapPagination::Rails %>
	          </div>
	        </div> <!-- End tab-pane tab1 -->
	        <div class="tab-pane" id="tab2">
	        	<table class="user_tabs">
	          	<%= render partial: 'questions', locals: {questions: @questions} %>
	          </table>
	        </div> <!-- End tab-pane tab2 -->
	        <div class="tab-pane" id="tab3">
	        	<table class="user_tabs">
	          	<%= render partial: 'answers', locals: {answers: @answers} %>
	          </table>
	        </div> <!-- End tab-pane tab3 --> 
	      </div> <!-- end tab-content -->
	    </div> <!-- end tabbble -->
	  </div> <!-- end col-sm-9 -->  
	</div> <!-- end row -->

</div> <!-- end container -->