<h2 class="text-center">Forgot your password?</h2>
<div class="well devise-well text-center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, placeholder: "Email Address", autofocus: true %>
    </div>
    <br>
    <br>
    <div class="actions text-center">
      <div class="btn-group-vertical" role="group" aria-label="...">    
        <%= f.submit "Send me reset password instructions", class: "fa-22px btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
