<div class="well devise-well">
  <%= form_for [@question, @answer] do |f| %>
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
        <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>

    <% end %>


   <table class="devise-table">
      <tr>
        <td>     
          <%= f.label "Answer" %>
        </td>
        <td>
          <%= f.text_area :body, rows:"12", cols:"38", required: true%>
        </td>
      </tr>
    </table>
    <br>

    <div class="actions text-center">
      <%= f.submit "Submit Answer", class: "fa-22px btn btn-default" %>
    </div>
  <% end %>
</div>