<div class="container">
  
  <div class="row">
    <div class="col-sm-12">
    <h3 class="pull-left">LOGO</h3>
      <div class="pull-right">
        <ul class="inline">
          <a href="/questions/new"><li class="btn btn-primary">Ask Question</li></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" id="theQuestions">
    <div class="col-sm-9">
      <div class="tabbable">
      <h3>Questions tagged with "<%= @tag.name.capitalize %>" </h3>
          <ul class="nav nav-tabs nav-right">
            <li><a href="#tab2" data-toggle="tab">Top 25 Questions</a></li>  
            <li class="active"><a href="#tab1" data-toggle="tab">Most Recent</a></li>
          </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <%= render partial: '/questions/most_recent_tab' %>
          </div> <!-- End tab-pane tab1 -->
          <div class="tab-pane" id="tab2">
            <%= render partial: '/questions/most_voted_tab' %> 
          </div> <!-- end tab-pane tab2 -->  
        </div> <!-- end tab-content -->
      </div> <!-- end tabbble -->
    </div> <!-- end col-sm-9 -->  
    <div class="col-sm-3">
    </div> <!-- end-col-sm-3 -->
  </div> <!-- end row -->
</div> <!-- end container -->