<h2 class="text-center">Log in</h2>

<div class="well devise-well text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "Email Address", autofocus: true %>
    </div>
    <br>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <br>
    <br>
    <div class="actions text-center">
      <div class="btn-group-vertical" role="group" aria-label="...">    
        <%= f.submit "Log in", class: "fa-22px btn btn-default" %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  <% end %>
</div>
