/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.fa-48px {
	font-size: 48px;
}

.fa-22px {
	font-size: 22px;
}

.upvoted {
	color: green;
}

.downvoted {
	color:red;
}

.novote {
	color: gray;
	text-decoration:none;
}

.nav-tabs > li > a {
  border-radius: 0;
  margin-right: 0px;
}

.nav-right li {
  float: right;
  border-top: 4px solid #fff;
}

.user-show-sidebar td {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.user_tabs {
  width: 100%;
}

.not-last {
  width: 20px;
}

.last td {
  width: 100%;
}

.user_tabs td {
  padding:10px;
}

.devise-well {
  width: 450px;
  min-width: 450px;
  margin: 0 auto;
}

.devise-panel {
  width: 450px;
  min-width: 450px;
  margin: 0 auto;
}

.devise-table {
  width: 100%;
}

.devise-table td {
  padding:5px;
}

.devise-table input {
	width: 232px;
}

textarea {
  resize: none;
}

li.active {
  border-top: 4px solid #ffb31a;
}

.app-footer {
  background: #000;
  color: #FFF;
}

.app-footer a {
  color:#D19315;
}
