<% if current_user %>

	<% if current_user.has_upVoted?(answer)%>

	  <a href="/questions/<%= answer.question_id %>/votes/<%= current_user.vote_cast_id(answer) %>/destroy"><i class="fa answer-vote upvoted fa-48px fa-caret-up" aria-hidden="true"></i></a>
		<h4><%= answer.points %></h4>
	  <a href="/questions/<%= answer.question_id %>/votes/<%= current_user.vote_cast_id(answer) %>/update"><i class="fa answer-vote novote fa-48px fa-caret-down" aria-hidden="true"></i></a>

	<% elsif current_user.has_downVoted?(answer) %>

		<a href="/questions/<%= answer.question_id %>/votes/<%= current_user.vote_cast_id(answer) %>/update"><i class="fa answer-vote novote fa-48px fa-caret-up" aria-hidden="true"></i></a>
		<h4><%= answer.points %></h4>	
		<a href="/questions/<%= answer.question_id %>/votes/<%= current_user.vote_cast_id(answer) %>/destroy"><i class="fa answer-vote downvoted fa-48px fa-caret-down" aria-hidden="true"></i></a>
		
	<% else %>

		<a href="/questions/<%= answer.question_id %>/Answer/<%= answer.id %>/up/create"><i class="fa answer-vote novote fa-48px fa-caret-up" aria-hidden="true"></i></a>
		<h4><%= answer.points %></h4>
		<a href="/questions/<%= answer.question_id %>/Answer/<%= answer.id %>/down/create"><i class="fa answer-vote novote fa-48px fa-caret-down" aria-hidden="true"></i></a>

	<% end %>
<% else %>	

		<h4><%= answer.points %></h4>

<% end %>	