<% if current_user %>
	<% if current_user.has_upVoted?(question)%>
	  
	  <a href="/questions/<%= question.id %>/votes/<%= current_user.vote_cast_id(question) %>/destroy"><i class="fa question-vote upvoted fa-48px fa-caret-up" aria-hidden="true"></i></a>
	  <h4><%= question.points %></h4>
	  <a href="/questions/<%= question.id %>/votes/<%= current_user.vote_cast_id(question) %>/update"><i class="fa question-vote novote fa-48px fa-caret-down" aria-hidden="true"></i></a>

	<% elsif current_user.has_downVoted?(question) %>

	  <a href="/questions/<%= question.id %>/votes/<%= current_user.vote_cast_id(question) %>/update"><i class="fa question-vote novote fa-48px fa-caret-up" aria-hidden="true"></i></a>
	  <h4><%= question.points %></h4> 
	  <a href="/questions/<%= question.id %>/votes/<%= current_user.vote_cast_id(question) %>/destroy"><i class="fa question-vote downvoted fa-48px fa-caret-down" aria-hidden="true"></i></a>

	<% else %>

	  <a href="/questions/<%= question.id %>/Question/<%= question.id %>/up/create"><i class="fa question-vote novote fa-48px fa-caret-up" aria-hidden="true"></i></a>
	  <h4><%= question.points %></h4>  
	  <a href="/questions/<%= question.id %>/Question/<%= question.id %>/down/create"><i class="fa question-vote novote fa-48px fa-caret-down" aria-hidden="true"></i></a>

	<% end %>
<% else %>

	  <h4><%= question.points %></h4>  

<% end %>