<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Smackoverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">SmackOverflow</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <a href="/users/<%= current_user.id %>" >
              <img width="20" src="<%= current_user.profile_img_url %>"> My Profile</a>
          </li>
          <li>
            <a href="/users/edit">Edit Profile</a>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
            <a href="/users/sign_in" >
              Log In
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<%= yield %>
</div>

<br>
<br>

<footer class="app-footer">
  <div class="container">
    <div class="text-center">
    <h3>SmackOverflow was built by <a href="http://www.robertreith.com/" target="_blank">Bobby</a> and <a href="http://www.jasoncaryallen.com" target="_blank">Jason</a> with love...</h3>
    <p><i>...and a whole lot of Ruby on Rails, HTML5, CSS3/SCSS, Bootstrap CSS Framework, PostgreSQL, JavaScript, jQuery, RSpec/Capybara testing, Devise, and GitHub's OmniAuth API</i></p>

    <p>We're Rails developers who are always learning, and we like to build fun and creatively assembled things.</p>
    </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="team-member">
        <%= image_tag("jason.jpg", class:"img-circle")%>
        <h4>Jason C. Allen</h4>
        <p class="text-muted">Developer</p>
        <ul class="list-inline social-buttons">
          <li>
            <a href="mailto:jasoncaryallen@gmail.com">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-envelope fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/jasonallenphotography" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span>
              </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jasonallen127" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
              </a>
          </li>
          <li>
            <a href="http://www.jasoncaryallen.com" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-globe fa-stack-1x"></i>
              </span>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="team-member">
        <%= image_tag("bobby.jpg", class:"img-circle") %>
        <h4>Robert M. Reith</h4>
        <p class="text-muted">Developer</p>
        <ul class="list-inline social-buttons">
          <li>
            <a href="mailto:robertmreith@gmail.com">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-envelope fa-stack-1x"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/robertreith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span>
              </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/robertmreith" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
              </a>
          </li>
          <li>
            <a href="http://www.robertreith.com" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-globe fa-stack-1x"></i>
              </span>
              </a>
          </li>
        </ul>
      </div>
    </div>

    <br>
    <p class="text-center">Code is <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a> licensed. <a rel="license" href="https://github.com/jasonallenphotography/SmackOverflow" target="_blank">View the source code for this app on GitHub!</a></p>
    </div>
  </div> 
</footer>
</body>

</html>
