<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Smackoverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">SmackOverflow</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <a href="/users/<%= current_user.id %>" >
              <img width="20" src="<%= current_user.profile_img_url %>"> My Profile</a>
          </li>
          <li>
            <a href="/users/edit">Edit Profile</a>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
            <a href="/users/sign_in" >
              Log In
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
  	<%= yield %>
  </div>

</body>

</html>
